In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

### read data file

In [2]:
dataframe = pd.read_csv("TSAClaims2002_2017.csv",encoding='cp1252')

#### columns of dataframe

In [4]:
dataframe.columns

Index(['Claim_Number', 'Date_Received', 'Incident_Date', 'Airport_Code',
       'Airport_Name', 'Claim_Type', 'Claim_Site', 'Item_Category',
       'Close_Amount', 'Disposition', 'StateName', 'State', 'County', 'City'],
      dtype='object')

In [5]:
dataframe.shape

(220855, 14)

Dataframe has 220855 rows & 14 columns

### display first 5 rows of dataframe

In [3]:
dataframe.head()

,Claim_Number,Date_Received,Incident_Date,Airport_Code,Airport_Name,Claim_Type,Claim_Site,Item_Category,Close_Amount,Disposition,StateName,State,County,City
0,2006081611123,17027.0,17006.0,NaN,NaN,Passenger Property Loss,Checked Baggage,Candles - Decorative and other; Clothing - Sho...,NaN,NaN,NaN,NaN,NaN,NaN
1,2006062108380,16972.0,16957.0,NaN,NaN,Passenger Property Loss,Checkpoint,Jewelry - Fine,NaN,NaN,NaN,NaN,NaN,NaN
2,2006062008258,16972.0,16938.0,NaN,NaN,Passenger Property Loss,Checked Baggage,"Cosmetics - Perfume, toilet articles, medicine...",NaN,NaN,NaN,NaN,NaN,NaN
3,2006010699056,16831.0,16793.0,NaN,NaN,Passenger Property Loss,Checked Baggage,Other,NaN,NaN,NaN,NaN,NaN,NaN
4,2006032303625,16880.0,16861.0,NaN,NaN,Property Damage,Checked Baggage,Luggage (all types including footlockers),NaN,NaN,NaN,NaN,NaN,NaN

# Frequency distribution for Claim_Type, Claim_Site, Disposition

In [9]:
dataframe['Claim_Type'].value_counts(sort=False,normalize=True)

Passenger Theft                            0.002249
Wrongful Death                             0.000019
Passenger Property Loss                    0.595430
Passenger Property Loss/Personal Injury    0.000061
Passenger Property Loss/Personal Injur     0.000038
Personal Injury                            0.007575
Motor Vehicle                              0.001986
Property Damage/Personal Injury            0.000066
Complaint                                  0.000343
Employee Loss (MPCECA)                     0.002310
Property Damage                            0.387904
Missed Flight                              0.000150
Not Provided                               0.000009
-                                          0.001761
Compliment                                 0.000014
Bus Terminal                               0.000005
Property Loss                              0.000080
Name: Claim_Type, dtype: float64

In [10]:
dataframe['Claim_Site'].value_counts(sort=False,normalize=True)

Pre-Check          0.000036
Bus Station        0.000091
Other              0.013229
Motor Vehicle      0.002453
Checked Baggage    0.779139
Not Provided       0.000005
-                  0.001758
Checkpoint         0.203289
Name: Claim_Site, dtype: float64

In [11]:
dataframe['Disposition'].value_counts(sort=False,normalize=True)

Pending Payment            0.000005
Closed: Canceled           0.000806
Closed:Canceled            0.001372
Received                   0.000068
*Insufficient              0.008379
Settle                     0.166233
Approve in Full            0.236421
In Review                  0.043164
Deny                       0.480994
losed: Contractor Claim    0.000353
Closed:Contractor Claim    0.000555
-                          0.061650
Name: Disposition, dtype: float64

# summary of Frequency distribution for Claim_Type, Claim_Site, Disposition

For claim_Type column, have duplice values. (Passenger Property Loss/Personal Injury) repated for 5 time. Its has NaN with '-' it should be replace with UNKNOWN field.

For claim_Site, have no duplice values, but Its have NaN as '-' it should be replace with UNKNOWN field.

For Disposition , have duplice values. Those duplice values should be fixed while data cleaning. Its have NaN as '-' it should be replace with UNKNOWN field.